{% comment %}
-----------------------------
  Load assets depending on a cart attribute for development mode
-----------------------------
{% endcomment %}

{% comment %}
  Check if a cart attribute has been set
{% endcomment %}
{% if cart.attributes['development_mode'] == 'true' %}
  {% assign development_mode = true %}
{% endif %}

{% if development_mode %}
  {% comment %}
  -----------------------------
    Development Scripts / CSS
  -----------------------------
  {% endcomment %}
  <script type="text/javascript"
          src="https://localhost:35729/livereload.js">
  </script>
  <link rel="stylesheet"
        href="https://localhost:8000/build/styles.css">
{% else %}
  {% comment %}
  -----------------------------
    Production Scripts / CSS
  -----------------------------
  {% endcomment %}
  {{ 'styles.css' | asset_url | stylesheet_tag }}
{% endif %}

<script type="text/javascript">
  var Theme = {
    devMode: function(enabled) {
      if (enabled) {
        $.post('/cart/update.js', 'attributes[development_mode]=true', function() {
          location.reload();
        }, 'json')
      } else {
        $.post('/cart/update.js', 'attributes[development_mode]=false', function() {
          location.reload();
        }, 'json')
      }
    }
  }
</script>
